.container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    align-self: center;
    gap: 16px;
    padding: 16px;
}

.section{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    gap: 16px;
}

.inputDiv{
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 100%;
    gap: 4px;
}

.inputDiv label{
    font-weight: 500;
}

.inputDiv input, textarea, option, select{
    font-size: 16px;
    padding: 6px;
}

.inputDiv textarea{
    max-width: 99%;
    min-width: 99%;
}

.container button{
    margin-top: 16px;
    padding: 8px 8px 7px;
    border: 1px solid black;
    border-radius: 2px;
    align-self: center;
    font-size: 16px;
}

.container button:hover{
    background-color: var(--ligthGrey);
    color: var(--darkGrey);
}